<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sharookhan Basheer - C0857251</title>
	</head>
	<body>
		<center><h1>Movie Finder API</h1></center>
		<form action="/movieDetails" method="POST">
			<input type="text" placeholder="Search movie name here..." name="movieName" required />
			<input type="submit" value="Search" />
		</form>
		<br />
		Here are some Valid Values (Copy paste this)<br />
		<ul>
			<li>The Shawshank Redemption</li>
			<li>The Godfather</li>
			<li>Pulp Fiction</li>
			<li>The Dark Knight</li>
			<li>Forrest Gump</li>
			<li>The Matrix</li>
			<li>Schindler's List</li>
			<li>Titanic</li>
			<li>Inception</li>
			<li>Jurassic Park</li>
		</ul>
	</body>
</html>
